.team-selection {
    text-align: center;
    color: white;
    background: url('./data/images/image1.png') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .team-selection::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black overlay */
    z-index: 1;
  }
  
  .team-selection .content {
    position: relative;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
  }
  
  .team-selection h2,
  .team-selection select,
  .contract {
    width: 100%;
  }
  
  .team-selection h2 {
    margin: 1em 0;
  }
  
  .team-selection select {
    margin: 1em 0;
    padding: 0.5em;
    font-size: 1em;
  }
  
  .contract {
    margin: 2em 0;
    text-align: center;
  }
  
  .contract p {
    margin: 1em 0;
    font-size: 1.2em;
  }
  
  .contract button {
    margin: 0.5em;
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
  }
  
  .contract button:hover {
    background-color: #21a1f1;
  }
  